@import url("https://static.tumblr.com/0sthd5y/SxFo1lcga/proxima.css");

body {
	background: #f4cccc;
	font-family: 'proxima_nova','Helvetica Neue', 'Helvetica', sans-serif;
	font-smooth: always;
}

div#copied {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 10vh;
	margin: auto;
	z-index: 999;
	background: #f6e9db;
	width: max-content;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px #b69b78;
	color: #755d3f;
	font-weight: bold;
	opacity: .9;
}

div#backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #f8f1ea;
	z-index: 998;
	opacity: .9;
}

div#msgbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 260px;
	height: max-content;
	max-width: 80vw;
	z-index: 9999;
	border: 1px solid #7c93ac;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	background: #f4eae0;
	cursor: default;
}

div#msgbox:not(.shown) {
	animation: showbox ease .6s 1;
}

div#msgbox.shown {
	animation: hidebox ease .6s 1;
}

@keyframes showbox {
	0% {transform: scale(1.1)}
	80% {transform: scale(.8)}
}

@keyframes hidebox {
	20% {transform: scale(1.1)}
	100% {transform: scale(.5)}
}

div#msgheader {
	background: #4673a3;
	height: 25px;
	position: relative;
	margin: -10px;
	margin-bottom: 10px;
	text-align: left;
}

div#msgheader>div {
	width: 15px;
	height: 15px;
	background: #0006;
	position: absolute;
	right: 5px;
	top: 5px;
	border-radius: 100%;
}

div#msgheader>div:after, div#msgheader>div:before {
	content: '';
	width: inherit;
	height: inherit;
	display: block;
	position: absolute;
	right: 20px;
	background: inherit;
	border-radius: 100%;
}

div#msgheader>div:before {
	right: 40px;
}

div#msgheader>span {
	color: #f8f1ea;
	padding: 5px;
	display: inline-block;
	font-size: 0.8em;
	vertical-align: -webkit-baseline-middle;
}

div#msgicon {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 25px;
	left: 10px;
	bottom: 40px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


div#msgmsg {
	display: inline-block;
	width: calc(100% - 90px);
	margin-left: 55px;
	margin-right: 35px;
	box-sizing: border-box;
}

div#msgbtn {
	padding: 5px 20px;
	border: 1px solid #4673a3;
	background: #7c93ac;
	color: #f4e9d8;
	display: inline-block;
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
}

div#msgbox.info {border-color: lightseagreen;}
div#msgbox.info #msgicon {background-image: url(info.png);}
div#msgbox.info div#msgheader {background: lightseagreen;}
div#msgbox.info div#msgbtn {border-color: darkseagreen;background: lightseagreen;}
div#msgbox.warn {border-color: darkorange;}
div#msgbox.warn #msgicon {background-image: url(warn.png);}
div#msgbox.warn div#msgheader {background: darkorange;}
div#msgbox.warn div#msgbtn {border-color: indianred;background: darkorange;}
div#msgbox.error {border-color: #ea6c4c;}
div#msgbox.error #msgicon {background-image: url(error.png);}
div#msgbox.error div#msgheader {background: #ea6c4c;}
div#msgbox.error div#msgbtn {border-color: mediumvioletred;background: #ea6c4c;}

div#wrapper {
	width: 414px;
	max-width: 100%;
	margin: 20vh auto;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

label#fileLabel {
	font-weight: bold;
	border: 2px dashed #000;
	padding: 20px 20px 15px;
	margin: auto;
	display: block;
	width: max-content;
	font-size: 1.1em;
	background: url(/file.png);
	background-position: 19px center;
	background-size: 18px;
	padding-left: 56px;
	background-repeat: no-repeat;
	border-radius: 10px;
	opacity: .6;
	max-width: 100%;
	position: relative;
	transition: 1s ease;
}

label#fileLabel:hover {
	background-color: #f4e8d9;
	box-shadow: 0 0 0 5px #f4e8d9;
}

label#fileLabel>span>b:first-child {
	display: inline-block;
	white-space: nowrap;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-weight: 100;
}

label#fileLabel>span>b:last-child {
	display: inline-block;
	vertical-align: middle;
	font-size: .6em;
	background: #000d;
	color: #fff;
	padding: 5px;
	margin-left: 10px;
	border-radius: 5px;
	font-weight: 100;
}

b#progressBar {
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	max-width: 100%;
	max-width: calc(100% - 4px);
	background: linear-gradient(45deg, #4673a144, #7b93aa);
	border-radius: 10px;
	z-index: -1;
	transition: 1s ease;
	opacity: .7;
}

#progressBar>i {
	position: absolute;
	bottom: -1.5em;
	font-size: 0.8em;
	right: 0;
}

div#archive {
	margin-top: 50px;
	background: linear-gradient(180deg, #f2bcbd, transparent);
}

h1 {
	font-size: 1.1em;
	padding: 10px;
	text-align: left;
	margin: 0;
	background: #efb9b9;
	color: #625252;
}

div#button {
	margin-top: 50px;
}

div#wrapper>img {
	width: 250px;
	margin: auto;
}

.arc {
	border: 1px solid #4774a3;
	border-radius: 5px;
	position: relative;
	height: 72px;
	overflow: hidden;
	margin: 10px;
	background-color: #f6e9da;
	cursor: default;
}

.thmb {
	position: absolute;
	left: 0;
	width: 72px;
	height: 72px;
	background-size: cover;
	background-color: #4574a3;
	cursor: pointer;
}

.info {
	margin-left: 72px;
	width: calc(100% - 144px);
	text-align: left;
	padding: 5px 10px;
	box-sizing: border-box;
}

.info>span {
	display: block;
}

.copy {
	position: absolute;
	top: 0;
	right: 0;
	width: 57px;
	height: 52px;
	padding: 17px 0 0 8px;
	box-sizing: border-box;
	background: transparent;
	border-left: 1px solid #b69b75;
	text-decoration: underline;
	color: #4574a3;
	margin: 10px;
	margin-left: 5px;
	cursor: pointer;
}

span.name {
	font-size: 1.2em;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #755d3c;
}

input.link {
	font-size: 1.2em;
	line-height: 1em;
	background: transparent;
	border: none;
	color: #a08664;
	padding: 0;
	outline: none;
	margin: -5px 0;
}

span.size {
	background: #7b93aa;
	color: #fff;
	vertical-align: super;
	padding: 5px 5px 2px;
	font-size: 0.8em;
	border-radius: 5px;
	width: max-content;
}

span.time {
	font-size: 0.8em;
	position: absolute;
	bottom: 5px;
	right: 77px;
	color: #af9d56;
}